# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# CubeMX 临时文件
*.mxproject

# Keil 用户特定文件（个人设置，不传）
*.uvoptx
*.uvguix.*
RTE/

# Keil MDK 编译输出
Quadruped/MDK-ARM/Quadruped/           # 编译生成的目标文件、hex、axf
Quadruped/MDK-ARM/DebugConfig/         # 调试配置
Quadruped/MDK-ARM/*.lst                # 汇编列表文件 (startup_xx.lst 等)
Quadruped/MDK-ARM/*.map                # 内存映射文件
Quadruped/MDK-ARM/*.uvguix.*           # Keil 个人界面布局
Quadruped/MDK-ARM/*.uvoptx             # Keil 调试选项（含绝对路径，建议忽略）

# VS Code 个人配置（如果团队共享设置则注释掉）
Quadruped/MDK-ARM/.vscode/

# 其他临时文件
*.tmp
*.bak
Quadruped/MDK-ARM/Quadruped/
Quadruped/MDK-ARM/*.lst
